table td, th{
    border: 1px solid;
    padding: 4px;
    font-size: 22px;
    text-align: center;
}
table th {
    background-color: bisque;
}
table{
    
    border-collapse: separate;
    /* border-spacing: 5px; */
}